<div class="offer-cmp">
  <app-loading [isLoading]="loading"></app-loading>
  <div class="offer-cmp__container" *ngIf="!loading">
    <div class="offer-cmp__container__title" [innerHTML]="offer.title"></div>
    <div class="offer-cmp__container__items">
      <div class="offer-cmp__container__items__wrapper">
        <ng-container *ngFor="let item of items">
          <app-offer-best-market *ngIf="isBestMarket()" [item]="item"></app-offer-best-market>
          <app-offer-top-promotion *ngIf="isTopPromotion()" [item]="item"></app-offer-top-promotion>
        </ng-container>
      </div>
    </div>
  </div>
</div>
